
body{
background-color: orangered;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 1275px 750px;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}
nav ul li a:hover{
    color:brown;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, burlywood, brown);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: red;
color: white;
cursor: pointer;
padding: 15px;
border-radius: 4px;
}

.bg-text {
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.4); 
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 80%;
padding: 20px;
text-align: center;
}

.Elementary {
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.4); 
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 80%;
padding: 20px;
text-align: center;
}

.HighSchool {
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.4); 
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 80%;
padding: 20px;
text-align: center;
}

.SeniorHighschool {
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.4); 
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
position: absolute;
top: 120%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 80%;
padding: 20px;
text-align: center;
}

.College {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    }





